
input#search {
    background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
}
input#search:focus {
    background-image:none;
    text-indent:0px
    }
.lyricsfont {
color: white
}

#root {
    width:100%;
}

.body {
    display: flex;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.footer {
    position:fixed;
    bottom:0;
    width: 100%;
    align-content:  center;
}
/* .sidebar {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px; */
    /* //max-width: 73px; */
    /* max-width: 200px;
    height: 100vh;
    color: rgb(187, 185, 185);
    background-color: #040404
} */
.webplayer {
height: 100vh;
position: relative;
}

.dashboard {
    position: fixed;
    display: flex;
    height:65px;
    width: 100%;
    bottom: 0;

}

.bodyright {
    display: flex;
    flex: 0.8;
    overflow-y: scroll;
    overflow-x: scroll;
}
.margintop {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.margintop > strong {
    padding-left: 4px;
}
.searchbar {
    min-width: 500px;
    justify-content: right;
    margin-left: 5px;
    border-radius: 30px;
    border-color: transparent;
    
}
input#search {
    text-indent: 30px;
    transition: 0.3s;
}
input[type=text]:focus {
    outline:none;
    text-indent: 3px;
}

input:focus::placeholder {
    color:transparent;
}
.userpfp {
    height: 70px;
    color: white;
}
.username > h4 {
    color: white;
}

.lefthalf{
    flex: 0.5;
}

.righthalf{
flex: 0.5;
overflow-y: scroll;
overflow-x: scroll;
align-items: center;
padding-top: 90px;
padding-left: 120px;
padding-right: 50px;

}

.playlisticonandname{
    display: flex;
   
}


/* .form-control{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
  border-radius: 50px;
  width: 50%
  
  } */



