.sidebarcomponent {
    color: grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms color ease-in;
    overflow-x: scroll;
    padding-left: 15px;
    
}

.sidebarcomponent:hover{
    color:white;
}

.sidebaricon {
    padding-right: 3px;
}